<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Categories CarDealership!</title>
    <link 
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" 
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" 
      crossorigin="anonymous">
  </head>
  <body>
    @using CarDealership.Models;
    <h3> Here are all items in this category:

      <ol>
        @foreach (Item item in @Model["items"])
        {
          <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Description</a></li>
        }
      </ol>
    </h3>

    <p><a href = '/categories/@Model["category"].Id/items/new'>Add New Item</a></p>
    <p><a href="categories">Return to category list</a></p>

  @foreach (Item item in @Model["items"])
  {
    <li><a href='/categories/@Model["category"],Id/items/@item.Id'>@item.Description</a></li>
  }

    <p><a href="/">Return to main page/home</a></p>
  </body>
</html>